<%= turbo_frame_tag contato do %>
<div class="grid grid-cols-3">
  <div class="..."><b><%= contato.t_contato.nome %></b></div>
  <div class="col-span-2 ..."><%= contato.contato %></div>
</div>
<% end %>
