<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Pessoas</h1>
    <%= link_to 'New pessoa', new_pessoa_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="pessoas" class="min-w-full">

    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full">
              <thead class="bg-white border-b border-b bg-gray-300">
                <tr>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nome</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Cpf</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Nascimento</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Mãe</th>
                  <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Opções</th>
                </tr>
              </thead>
              <tbody>
                <%= render @pessoas %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- <div x-data="{ price: 5 }" class="w-1/2">
  <label for="price" class="font-bold text-gray-700" x-text="`Price $` + price"></label>
  <input type="range" min="1" name="price" max="10" x-model="price"
  class="w-full h-2 bg-blue-100 appearance-none" />
</div> -->