<%= turbo_frame_tag "engajado" do %>
<div class="flex items-center justify-between w-full p-5 text-left border border-gray-200  focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-white">
	<p class="text-lg font-bold text-black-400 hover:text-sky-400"><%= @engajado.pessoa.nome %></p>
</div>

<% end %>